{% load static %}

<!-- Main header start -->
<header class="main-header header-transparent sticky-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'img/logos/logo.png' %}" style="width: 100px;" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'properties' %}"  aria-haspopup="true" aria-expanded="false">
                            Properties
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'agents' %}" aria-haspopup="true" aria-expanded="false">
                            Agents
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'about' %}" aria-haspopup="true" aria-expanded="false">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'faqs' %}" aria-haspopup="true" aria-expanded="false">
                            Faqs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact-us' %}" aria-haspopup="true" aria-expanded="false">
                            Contact
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard' %}" class="nav-link link-color">
                               Welcome {{ user.username }} (Dashboard)
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                            <form action="{% url 'logout' %}" method="POST" id="logout">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}" aria-haspopup="true" aria-expanded="false">
                                Register
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link link-color">
                            Login
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Main header end -->