{% extends 'base.html' %}

{% block title%} | Dashboard {% endblock%}

{% block content %}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Dashboard</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Dashboard</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Dashbord start -->
<div class="dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="dashboard-content">
                <div class="dashboard-header clearfix">
                    <div class="row">
                        <div class="col-sm-12 col-md-5"><h4>Hello , {{ user.username }}</h4></div>
                        <div class="col-sm-12 col-md-7">
                            <div class="breadcrumb-nav">
                                <ul>
                                    <li>
                                        <a href="{% url 'index' %}">Index</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dashboard' %}" class="active">Dashboard</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'partials/_alerts.html' %}
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="dashboard-list">
                            <div class="dashboard-message bdr clearfix ">
                                <div class="tab-box-2">
                                    <div class="clearfix mb-30 comments-tr">
                                        <span>Inquiries</span>
                                    </div>
                                    <div class="tab-content" id="pills-tabContent">
                                        {% if contacts %}
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Property</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% for contact in contacts %}
                                                        <tr>
                                                            <th scope="row">{{ contact.id }}</th>
                                                            <td>{{ contact.property }}</td>
                                                            <td><a href="{% url 'property' contact.property_id %}" class="btn btn-light">View Property</a></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <p>You have not made any inquiries</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>               
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Dashbord end -->
{% endblock %}