{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>About Us</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- About city estate start -->
<div class="about-real-estate  content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-info">
                    <img class="d-block w-100" src="{% static 'img/properties/properties-3.jpg' %}" alt="Third slide">
                    <div class="Properties-info">
                        <ul>
                            <li>
                                <i class="flaticon-bed"></i>
                                <h4>Bed 3</h4>
                            </li>
                            <li>
                                <i class="flaticon-bathroom"></i>
                                <h4>Beds 2</h4>
                            </li>
                            <li>
                                <i class="flaticon-area"></i>
                                <h4>SQ.FT 3500</h4>
                            </li>
                            <li>
                                <i class="flaticon-car"></i>
                                <h4>Garage 1</h4>
                            </li>
                            <li>
                                <i class="flaticon-window"></i>
                                <h4>Balcony 1</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Welcome to Neer</h3>
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly</p>
                    <p>transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted.</p>
                    <a href="#" class="btn btn-md button-theme">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About city estate end -->

<!-- Our team start -->
<div class="our-team content-area-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Our Agent</h1>
            <p>We have professional agents</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
               {% if agents %}
                    {% for agent in agents %}
                        <div class="slick-slide-item">
                            <div class="row team-2">
                                <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-pad clip-home">
                                    <div class="photo clip-home">
                                        <img src="{{ agent.photo.url }}" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-pad bg align-self-center">
                                    <div class="detail">
                                        <h4>
                                            <a href="{% url 'agent' agent.id %}">{{agent.name}}</a>
                                        </h4>
                                        <h5>{{agent.occupation}}</h5>
                                        <div class="contact">
                                            <ul>
                                                <li>
                                                    <i class="flaticon-pin"></i><a>{{agent.address}}</a>
                                                </li>
                                                <li>
                                                    <i class="flaticon-mail"></i><a href="mailto:{{agent.email}}">{{agent.email}}</a>
                                                </li>
                                                <li>
                                                    <i class="flaticon-phone"></i><a href="tel:+{{agent.phone}}"> +{{agent.phone}}</a>
                                                </li>
                                            </ul>
                                        </div>
        
                                        <ul class="social-list clearfix">
                                            <li><a href="{{agent.facebook}}" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="{{agent.twitter}}" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="{{agent.google}}" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="{{agent.linkedin}}" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
               {% else %}
                    <div class="col md-12">
                        <p>No Agents Available</p>
                    </div>
               {% endif %}
               
                
               
            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton-2 sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton-2 sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->

<!-- Counters 4 strat -->
<div class="counters-2 counters-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 counters-info-section clip-home">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="media counter-box">
                            <div class="icon">
                                <i class="flaticon-sale"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <h2 class="counter Starting">967</h2>
                                <p>Listings For Sale</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="media counter-box">
                            <div class="icon">
                                <i class="flaticon-rent"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <h2 class="counter Starting">967</h2>
                                <p>Listings For Rent</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="media counter-box">
                            <div class="icon">
                                <i class="flaticon-user"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <h2 class="counter Starting">967</h2>
                                <p>Agents</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="media counter-box">
                            <div class="icon">
                                <i class="flaticon-broker"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <h2 class="counter Starting">967</h2>
                                <p>Brokers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 counters-photo align-self-center">
                <h1>Counters</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            </div>
        </div>
    </div>
</div>
<!-- Counters 4 end -->

<!-- Helping sentar start -->
<div class="helping-sentar">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 align-self-center">
                <!-- Contact 1 start -->
                <div class="contact-2 pb-hediin-60">
                    <h5 class="clearfix">Always Support You</h5>
                    <h3 class="heading">How can we help</h3>
                    <form action="#" method="GET" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group name">
                                    <input type="text" name="name" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group email">
                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group subject">
                                    <input type="text" name="subject" class="form-control" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group number">
                                    <input type="text" name="phone" class="form-control" placeholder="Number">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group message">
                                    <textarea class="form-control" name="message" placeholder="Write message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="send-btn">
                                    <button type="submit" class="btn btn-md button-theme">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Contact 1 end -->
            </div>
            <div class="offset-xl-1 col-xl-5 col-lg-6">
                <img src="{% static 'img/avatar/avatar-10.png'%}" alt="avatar-10" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- Helping sentar end -->
{% endblock %}